<ion-view view-title="Handy Violation Checker">
	<ion-nav-bar class="bar bar-positive"></ion-nav-bar>
	<ion-content>
		<div class="card">
			<div class="col">
				<h3>Penalties</h3>
				<p>
					The DSA with the approval of the College President shall impose the necessary sanctions on the violators. offenses may be classified as a minor offence, and a major offence. Further, a major offense may be classified as; serious, less grave, and grave.		
				</p>
			</div>
		</div>
		<div class="card">
			<div class="col">
				<div class="col">
				<h4>Handy Violation Checker of Department Student Affairs in Tagoloan Community College.</h4>
				<p>
					 All students are expected to observe highest standard of morality to preserve  the dignity. Such acts not provided in this school policies shall be dealt with by the Administration accordingly.
				</p>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="row">
				<div class="col col-50">
					<img src="img/golo.png" class="full-width circle">
				</div>
				<div class="col">
					<h3>Contact for fix.</h3>
					<p>
						<i class="ion-arrow-right-a"></i> Email:<br />murrumrum@gmail.com<br />
						<!-- <i class="ion-arrow-right-a"></i> CP No.:<br />+639054425205<br /><br /> -->
						<a class="button-assertive"><i class="ion-arrow-up-a"></i>
							<i class="ion-arrow-up-a"></i>
							<i class="ion-arrow-up-a"></i>
							<i class="ion-arrow-up-a"></i>
							<i class="ion-arrow-up-a"></i>
							<i class="ion-arrow-up-a"></i>
							<i class="ion-arrow-up-a"></i>						
						</a>					
					</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>