<ion-view view-title="Handy Violation Checker">
  <ion-nav-bar class="bar bar-positive"></ion-nav-bar>
    <ion-content class="padding" scroll="false">

    <p on-swipe-right="onSwipeRight()"></p>

      <div class="col col-offset-10 col-80">
        <img src="img/logo.png" class="full-width">
      </div>
      <div class="login-form" style="bottom: 0px; width: 100%"><center>
      <h3 class="ion-android-phone-portrait assertive">v1.0</h3><br>
      <!-- <button class="bar bar-footer bar-assertive">
        
        <div class="title">SYNC</div>
      </button>   -->
		<div class="runner-container" style="width: 319px; height: 150px;">
			<canvas class="runner-canvas" width="638" height="300" style="width: 319px; height: 150px;"></canvas>
		</div>
  </ion-content>
</ion-view>