<ion-view view-title="Student Violations">
<ion-nav-bar class="bar bar-positive"></ion-nav-bar>
<ion-content class="padding">
    <!--<div class="card padding">
       <button class="button button-positive button-block button-full" ng-click="modal1.show()">ADD STUDENT VIOLATION</button>
       <button class="button button-positive button-block button-full" ng-click="modal2.show()">VIEW LIST</button>
     </div>-->
   	<div class="list">
   		<div ng-if="!toggle">
   			<div class="card">
   				<div class="col">
   				<div class="col">
			   	<button class="button button-large button-block button-assertive" ng-click="verifyPassword('sync')">
				  Fetch Students List
				</button>
				<p>In order to continue pls get the data of the students first. Reminder please turn on the WIFI!</p>
				</div>
				</div>
			</div>
		</div>
		<div ng-if="toggle">
		  <a class="item item-icon-left item-icon-right" ng-click="modal1.show()">
		    <i class="icon ion-person-add"></i>
		    Add Student Violation
		    <i class="icon ion-ios-people"></i>
		  </a>
		  <a class="item item-icon-left" href="#/tab/violation/list">
		    <i class="icon ion-eye"></i>
		    View List
		    <span class="item-note">
		      list of violators
		    </span>
		  </a>
		  <a class="item item-icon-left item-icon-right" ng-click="verifyPassword('syncServer')">
		    <i class="icon ion-android-sync"></i>
		    Sync Data
		    <i class="icon ion-ios-cloud-upload"></i>
		  </a>
	  </div>
	</div>
	
  </ion-content>
</ion-view>
